<button class="archive-photo-button" onclick={{action "imageClicked"}}>
  <div class="quote"><h3></h3></div>
  <img class="grid-image" src="https://images.nypl.org/index.php?id={{photo.nypl}}&t=w" alt="">
</button>