<div class="click-to-show" onclick={{action "clicked"}}>
  <div class="label">
    <h4 class="info-header">{{attribute}} </h4>
    <p class="info-data">
      {{#if (get photo attribute) }}
        {{get photo attribute}}
      {{else}}
        None
      {{/if}}
    </p>
  </div>
</div>