<nav class="nav">
  <div class="title"><h1>An Archive of <span id="unknown">Unknown</span> Women</h1></div>
  <div class="links">
    <ul class="nav-links">
      <li>{{#link-to "index" }}Home{{/link-to}}</li>
      <li>{{#link-to "archive" }}Archive{{/link-to}}</li>
    </ul>
  </div>
</nav>