<nav class="nav">
  <div class="container">
    <div class="col">
      <h4><a target="_blank" href="https://goo.gl/forms/Zq4KW83YwhcDCzrM2">Suggest a Quote or Photo</a></h4>
    </div>
    <div class="col">
      <h4><a target="_blank" href="https://goo.gl/forms/kWLt0OecAdd4cZ1H2">Identify an Unnamed Woman</a></h4>
    </div>
    <div class="col">
      <h4>{{#link-to "credits" }}Project Credits{{/link-to}}</h4>
    </div>
    <div class="col">
      <h4><a target="_blank" href="http://visiblewomen.net/unnamed-women/unnamed-women-lit-biblio.pdf">Bibiography</a></h4>
    </div>
    <div class="col">
      <h4><a target="_blank" href="http://visiblewomen.net">Visible Women</a></h4>
    </div>
  </div>
</nav>