<div class="footer full-container">
  <div class="container">
    <div class="col"><h4>Suggest a photo or text</h4></div>
    <div class="col"><h4>Project Credits</h4></div>
    <div class="col"><h4>Visible Women</h4></div>
  </div>
</div>