* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body, html {
  background-color: lighten($tan, 20);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Crete Round', serif;
  color: $solid-dark-gray
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.full-container, .container {
  padding-top: 150px;
}

.container.no-margin, .full-container.no-margin {
  padding-top: 75px;
}

.full-container {
  width: 100%;
}

.section {
  margin-bottom: 50px;
}

.row {
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin-bottom: 50px;
  }
}

a, p, li {
  font-family: 'Source Sans Pro', sans-serif;
}

.grid-image {
  width: 25vw;
  img {
    box-shadow: inset 0 0 100px rgba(20, 20, 20, 0.5);

  }
}
.masonry-item {
  width: 25%;
  display: flex;
  justify-content: center
}