@media print {
  body, html {
    padding: 50px;
    position: absolute;
    top: 0;
    left: 0;
  }
  nav, .nav {
    display: none;
  }
  .ember-modal-dialog, .modal-content {
    box-shadow: none;
    background-color: lighten($tan, 10);
  }
  .ember-modal-wrapper.emd-animatable.emd-wrapper-target-attachment-center .ember-modal-overlay {
    background-color: #fff;
    padding-top: 72px;
  }
  .full-container, .grid {
    display: none;
  }
  .ember-modal-dialog {
    margin-top: 0;
  }
  .modal-left {
    img {
      max-height: 70vh;
    }
  }

  .modal-right {
    .quote {
      #quote {
        font-family: 'Volkhov', sans-serif;
        font-size: 42px;
        line-height: 50px;
        text-shadow: 0 5px 25px rgba(30, 30, 30, 0.8);
        width: inherit;
      }
    }
  }
  
  .info {
    h2, h3, p, a, li {
      color: rgba(20, 20, 20, 0.7);
    }

    .info-header {
      font-size: 28px;
      font-family: 'Source Sans Pro';
      text-transform: uppercase;
    }
    .info-data {
      font-size: 28px;
    }

    .other-info {
      flex-wrap: wrap;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      .click-to-show {
        flex: 1;
        margin-right: 15px;
      }
    }
  }
}