@import 'normalize';
@import 'colors';
@import 'layout';
@import 'nav';

@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

.modal-content {
  display: flex;
  flex-direction: column;
  
  .image-quote {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;

    .modal-left {
      margin-right: 25px;
  
      img {
        max-width: 40vw;
        border-radius: 15px;
        margin: 0;
      }
    }
  
    .modal-right {
      width: 40vw;
  
      .quote {
        width: 100%;
  
        h2 {
          line-height: 50px;
          font-size: 33px;
          width: 100%;
  
          &::before {
            content: '';
            background: $white;
            height: 30px;
          }
        }
      }
    }
  }
}

.ember-modal-wrapper.emd-animatable.emd-wrapper-target-attachment-center .ember-modal-overlay {
  background-color: rgba(20, 20, 20, 0.7)
}
.ember-modal-dialog {
  box-shadow: 0 15px 50px 0 $dark-gray;
  margin-top: 15px;
  padding: 25px;
  background-color: $white
}