@import 'normalize';
@import 'colors';
   
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body, html {
  background-color: lighten($tan, 25);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
  color: $solid-dark-gray
}

a, p, li {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.nav {
  width: 100%;
  background-color: lighten($tan, 15);
  padding: 50px;
  
  h1 {
    margin: 0 auto 50px auto;
    text-align: center;
  }

  .nav-links {
    list-style-type: none;
    text-align: center;
    
    li {
      display: inline-block;

      a {
        padding: 5px 5px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 400;
        color: $dark-gray;
        transition: all .2s ease;
        margin: 0 5px;
        &:hover {
          color: $solid-dark-gray
        }

        &.active {
          color: $solid-dark-gray;
          border-bottom: 2px solid $dark-gray;
        }
      }
    }
  }
}