<div class="full-container no-margin">
  {{#masonry-grid items=model.photos percentPosition=true customLayout=true as |photo index grid|}}
    {{#masonry-item item=photo grid=grid }} 
      {{archive-photo literature=model.literature photo=photo show=(action 'showPictureModal')}}
    {{/masonry-item}}
  {{/masonry-grid}}
</div>

{{#if isShowingModal}} 
  {{#modal-dialog onClose="toggleModal" targetAttachment="center" translucentOverlay=true animatable=true}} 
    <div class="modal-content">
      <div class="image-quote">
        <div class="modal-left">
          <img src={{imgSrc}} alt="">
        </div>
        <div class="modal-right">
          <div class="quote">
            <h2>{{quote}}</h2>
          </div>
        </div>
      </div>
      <div class="info">
        <h3>helo</h3>
      </div>
    </div>
  {{/modal-dialog}} 
{{/if}}