<div class="full-container index-container">
  <div class="index-body">
    <div class="main-logo">
      <img src="images/logoform.png" alt="unnamed-women-logo">
    </div>
    <div class="archive-info">
      <h2>Project Credits</h2>
      <p>xtine burrough and Sabrina Starnaman have led this project as one of their Visible Women creative/scholarly
        activities.
        Starnaman is a literary studies scholar and burrough is a socially-engaged new media artist. Together they create
        projects that explore how the past and the future collide in narratives of (in)visible bodies.</p>
      
      <p>Alyssa Yates analyzed more than 100,000 images in the New York Public Library’s collection to hand-curate the
        dataset
        of images in our archive. With Starnaman and Beavers, Yates developed the collection of literary quotes that appear
        in
        this project. Alyssa Yates led the making of our hybrid quilt, and developed its stand and technology pockets.</p>
      
      <p>Al Madireddy is a full stack web developer who made this digital archive come to life.</p>
      
      <p>London Beavers is a critical media studies student at UT Dallas. Beavers also contributed to the dataset of literary
        quotes</p>
    </div>
  </div>
</div>