<div class="container">
  <div class="section">
    <div class="row">
      <h2>Home page content can go here</h2>
      <img src="http://unsplash.it/1000/600" alt="placeholder">
    </div>
  </div>
</div>
