<div class="index-container">
  <div class="collections">
    <div class="collection-item rural">
      <h3>Rural Collection</h3>
    </div>
    <div class="collection-item interior">
      <h3>Interior Collection</h3>
    </div>
    <div class="collection-item candid">
      <h3>Candid Collection</h3>
    </div>
  </div>
  <div class="index-body">
    <div class="main-logo">
      <img src="images/logoform.png" alt="unnamed-women-logo">
    </div>
    <div class="archive-info">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt labore quis vel reprehenderit tempora distinctio nisi, necessitatibus culpa facere eum veniam quisquam explicabo. Architecto quibusdam reprehenderit earum libero deleniti ad.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium neque expedita eaque esse voluptatibus dolorem molestiae pariatur commodi dolorum quibusdam illum inventore, perspiciatis quidem voluptate eveniet molestias deleniti et. Velit eaque soluta laboriosam quisquam reiciendis tenetur, veniam impedit ab rerum, laborum odit quidem doloribus dolorum.</p>
    </div>
  </div>
  {{site-footer}}
</div>
