<div class="full-container index-container">
  <div class="collections">
    <div class="collection-item rural">
      <h3>Rural Collection</h3>
    </div>
    <div class="collection-item interior">
      <h3>Interior Collection</h3>
    </div>
    <div class="collection-item candid">
      <h3>Candid Collection</h3>
    </div>
  </div>
  <div class="index-body">
    <div class="main-logo">
      <img src="images/logoform.png" alt="unnamed-women-logo">
    </div>
    <div class="archive-info">
      <p>An Archive of Unnamed Women is a browser-based digital archive juxtaposing nineteenth-century literature about women to
      photographs of unnamed or unidentified American women found in the collections of the New York Public Library,
      including the Schomburg Center for Research in Black Culture. We continue to build a re-presented archive as a
      speculative feminist humanities project. In lieu of citation information, visitors who search our archive of unnamed
      women are presented with misinformation in the guise of description. These descriptions are drawn from a parallel
      collection of women’s writing about women. Joined in the database, the resulting imagined narratives relocate the women
      on the screen as subjects of literary examination.</p>
      <p>Blurring the lines between art and archive, this project furthers discourse about the digital archive as an authority
      of knowledge curation. Visitors exploring the database encounter visible perimeters; it becomes clear that some
      information is erroneous or irrelevant. This reveals the arbitrary nature of information preservation and highlights
      the constructed nature of digitized materials. We are exploring the stakes in preparing an archive while making a space
      for self-generated narrative, all the while asking: What would it mean to move these unnamed women from anonymity, deep
      within the archive, to the center of the screen?</p>
    </div>
  </div>
  {{site-footer}}
</div>
